/* Hero */
.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(https://github.com/Costan-pixel/T.E.R.E./blob/main/hero.jpg?raw=true);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #f6e1ee;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 80px; 
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

/* Testo sopra immagine */
.hero-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.2em 3em;
  border-radius: 15px;
  max-width: 80%;
  width: fit-content;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 10;
}
